body,
html {
  height: 100%;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.logo {
  height: 7em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80vh;
  margin-bottom: 20px;
  margin-right: 5px;
}

button {
  width: 10vh;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.header {
  align-items: center;
  justify-content: center;
  height: 13vh;
  display: flex;
  z-index: 1000;
}

.footer {
  height: 3vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search {
  height: 1vh;
  flex-direction: column;
  padding-bottom: 50px;
}

.content {
  height: 65vh;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 50px;
}

thead {
  position: sticky;
  top: 0;
}
