body,
html {
  font-family: "Lobster", Sans-Serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(90deg, #2ca2b4, #5598de 24%, #7f87ff 45%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-synthesis: none;
}

.logo {
  height: 7em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #fc0101aa);
}

input {
  padding: 10px;
  font-size: 16px;
  width: 50vh;
  margin-bottom: 20px;
  margin-right: 5px;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 3px;
  background-color: #008cba;
}

.header {
  align-items: center;
  justify-content: center;
  height: 13vh;
  display: flex;
  z-index: 1000;
}

.footer {
  height: 3vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 1px 0 10px #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px #01a7df;
  z-index: 1000;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search {
  height: 1vh;
  flex-direction: column;
  padding-bottom: 50px;
}

.content {
  height: 67vh;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 50px;
}

thead {
  position: sticky;
  top: 0;
}

a {
  font-weight: 500;
  color: #c6d4ff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button:hover {
  border-color: #646cff;
}

.repo-table {
  width: 100%;
  border-collapse: collapse;
}

.repo-table th,
.repo-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.repo-table th {
  background-color: #c6d4ff;
}
